body {
  margin: 0;
}

#app {
  width: 100%;
  height: -webkit-fill-available;
  background: url(../img/background.png) repeat-y; 
  background-size: cover;
  display: flex;
  opacity: 0;
}

#canvas {
  border: 3px solid #aaa;
  background-color: #fff;
  margin: auto;
}